/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700 */
body {
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    font-weight: 400;
}

.container {
    min-width: 375px;
    width: 375px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vote-form {
    background: linear-gradient(hsl(212, 22%, 15%), hsl(220, 11%, 11%));
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 15px;
    padding: 1.5em;
}

.icon-star {
    background-color: hsl(213, 19%, 18%);
    margin-bottom: .5em;
    padding: .75em;
    border: none;
    border-radius: 50%;
}

.first-word {
    color: hsl(0, 0%, 100%);
}

.first-discribe {
    color: hsl(216, 12%, 54%);
    margin: -.55em 0 1.5em 0;
    word-spacing: .1em;
    font-weight: 700;
}
.container-rate{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rate {
    width: 2.5em;
    cursor: pointer;
    text-decoration: none;
    background-color: hsl(213, 19%, 18%);
    color: hsl(216, 12%, 54%);
    border: unset;
    padding: .75em;
    border-radius: 50%;
    margin: 0 .25em;
}

.rate:hover{
    background-color: hsl(217, 12%, 63%);
}
.rate:active{
    background-color: hsl(25, 97%, 53%);
}

.rate:focus{
    background-color: hsl(25, 97%, 53%);
}
.submit-btn,
.rate-again-btn{
    width: 100%;
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color:  hsl(0, 0%, 100%);
    font-weight: 700;
    border: unset;
    border-radius: 16px;
    margin-top: 2em;
    padding: .75em;
    text-transform: uppercase;
    letter-spacing: .25em;
}

.submit-btn:hover,
.submit-btn:active,
.rate-again-btn:hover,
.rate-again-btn:active{
    background-color:hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
.thank-form{
    background: linear-gradient(hsl(212, 22%, 15%), hsl(220, 11%, 11%));
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 1.5em;
}

.rating-state{
    padding: 0.5em .75em;
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    border-radius: 16px;
    margin: 1.5em;
}

.thank-state{
    margin: -.2em;
    color: hsl(0, 0%, 100%);
}

.final-word{
    font-size: 1rem;
    font-weight: 700;
    color: hsl(216, 12%, 54%);
}